{% extends "base.html" %}

{% block title %} Add a Game {% endblock %}

{% block body %}
<form method="post">
    <div>
        <label for="Name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <fieldset>
        <legend>State</legend>
        {% for user_game_state in user_game_states %}
            <input type="radio" name="state" id="state_{{ user_game_state.value }}" value="{{ user_game_state.value }}" />
            <label for="state_unplayed">{{ user_game_state.display }}</label>
        {% endfor %}
    </fieldset>
    <button type="submit">Add Game</button>
</form>
{% endblock %}
