{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block body %}
<form method="post" style="max-width: 330px; margin: 0 auto;">
    <div class="form-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="Username"/>
    </div>
    <div class="form-group">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" />
    </div>
    <div class="form-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
</form>
{% endblock %}
