{% extends "base.html" %}

{% block title %} {{ page_title }} {% endblock %}

{% block body %}
<form method="post">
    <div>
        <label for="Name">Name:</label>
        <input type="text" id="name" name="name" value="{{ name }}" {% if disabled_name %} disabled="disabled" {% endif %} />
    </div>
    <select name="platform">
        <option value="unknown"></option>
        {% for platform in platforms %}
            <option
                value="{{platform.slug}}"
                {% if platform.slug == set_platform %}
                    selected="selected"
                {% endif %}
            >{{platform.name|e}}</option>
        {% endfor %}
    </select>
    <fieldset>
        <legend>State</legend>
        {% for play_state in play_states %}
        <input
            type="radio"
            name="state"
            id="state_{{ play_state.value }}"
            value="{{ play_state.value }}"
            {% if play_state.value == set_user_game_state %} checked="checked" {% endif %}
        />
        <label for="state_unplayed">{{ play_state.display }}</label>
        {% endfor %}
    </fieldset>
    <button type="submit">{{ submit_button }}</button>
</form>
{% endblock %}
