{% extends "base.html" %}

{% block title %} {{ page_title }} {% endblock %}

{% block body %}
<form method="post" class="form-horizontal">
    <div class="form-group">
		<div class="col-sm-6">
			<input
				type="text"
				id="name"
				name="name"
				placeholder="Name"
				class="form-control"
				value="{{ name }}"
				{% if disabled_name %} disabled="disabled" {% endif %}
			/>
		</div>
		<div class="col-sm-6">
			<select name="platform" class="form-control">
				<option value="unknown">Platform</option>
				{% for platform in platforms %}
					<option
						value="{{platform.slug}}"
						{% if platform.slug == set_platform %}
							selected="selected"
						{% endif %}
					>{{platform.name|e}}</option>
				{% endfor %}
			</select>
		</div>
    </div>
	<div class="form-group">
		<div class="col-sm-12">
		{% for play_state in play_states %}
			<div class="radio-inline">
				<label for="state_{{ play_state.value }}">
					<input
						type="radio"
						name="state"
						id="state_{{ play_state.value }}"
						value="{{ play_state.value }}"
						{% if play_state.value == set_user_game_state %} checked="checked" {% endif %}
					/>
					{{ play_state.display }}
				</label>
			</div>
		{% endfor %}
		</div>
	</div>
    <button type="submit" class="btn btn-primary">{{ submit_button }}</button>
</form>
{% endblock %}
